.sidebar{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2vw; 
    padding: 1vw;
    padding-bottom: 2vw ;
    height:100vh;
    width: 5%;   
    border-right: 1px solid #343A40;
    
}
.sidebar-icons{
    display:flex;
    flex-direction: column; 
    gap:1vw; 
}

img{
    height: 30px;
    width:30px;
    cursor: pointer;
}